:root {
  --color-primario1: #ffa500;
  --color-primario2: #ffc966;
  --color-secundario: #744c00;
  --color-fondo: #FDF5E6;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  text-align: center;
  background-color: var(--color-fondo);
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 100%;

  h2 {
    color: var(--color-secundario);
  }
}
.nombre-sitio {
  margin-top: 5rem;
  text-align: center;
  color: var(--color-primario1);
}
.nombre-sitio span {
  color: var(--color-primario2);
}

.form-reserva,
.eliminar {
  flex-direction: column;
  display: flex;
  max-width: 60rem;
  align-items: center;
  margin: 0 auto;
}

.form-reserva fieldset {
  border: 1px solid black;
  margin-bottom: 2rem;
  width: 60rem;
}

@media  (max-width: 768px){
  .form-reserva fieldset{
    width: auto;
  }
}
.form-reserva legend {
  background-color: var(--color-primario1);
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  margin-bottom: 4rem;
}

.campo {
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

.btn {
  background-color: var(--color-primario1);
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: none;
  width: 50rem;
  margin: 2rem;
}

@media  (max-width: 768px){
  .btn{
    width: 50%;
    padding: auto;
  }
}

.btn:hover {
  cursor: pointer;
}

.logout {
  max-width: 100%;
  margin: 0 auto;
}

.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 10rem;
  padding-top: 5rem;
  text-align: center;
}
.site-footer h3 {
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--color-primario1);
}

.site-footer span {
  color: var(--color-primario1);
  font-weight: bold;
}

@media (min-width: 768px) {
  .site-footer h3 {
    text-align: center;
  }
}

/* Valoración*/
.radio-input {
  /* display: flex; */
  /* scale: 0.15; */
  transform: rotate(180deg);
  /* background-color: red; */
  align-items: center;
}

.star {
  margin: 0.1em;
  appearance: none;
  --color: #000;
  border-left: 6.4721359549996em solid transparent;
  border-right: 6.4721359549996em solid transparent;
  border-bottom: 4em solid var(--color);
  transform: rotate(0deg);
  cursor: pointer;
  /* background-color: green; */
  font-size: 0.3rem;
}

.star:before {
  content: "";
  border-left: 6.4721359549996em solid transparent;
  border-right: 6.4721359549996em solid transparent;
  border-top: 4em solid var(--color);
  position: absolute;
  left: -6.4721359549996em;
  transform: rotate(108deg);
}

.star:after {
  content: "";
  border-left: 6.4721359549996em solid transparent;
  border-right: 6.4721359549996em solid transparent;
  border-top: 4em solid var(--color);
  position: absolute;
  left: -6.4721359549996em;
  transform: rotate(253deg);
}

.radio-input > .star:hover ~ .star,
.radio-input > .star:hover,
.radio-input > .star:checked ~ .star,
.radio-input > .star:checked {
  --color: var(--color-primario1);
}

.radio-input > .star:checked ~ .star,
.radio-input > .star:checked {
  animation: rotate 0.5s linear forwards;
  transform: rotate(360deg);
  transition: transform 0.3s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    scale: 1.5;
  }
  100% {
    transform: rotate(360deg);
  }
}

.valor-container{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.valor{
  /* background-color: yellowgreen; */
  width:60rem;
  padding: 1%;
}

@media (max-width: 768px) {
  .valor {
    width: auto;
    padding-bottom: 3%;
  }
}