<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
	<link rel="stylesheet" href="../css/style_biking.css">
	<title>Biking</title>
</head>
<body>

	<div class="container-encabezado-pagina">

		<div class="container-nombre-gym">
			<h2>VitalWay Gym</h2>
		</div>

		<div class="container-titulo-pagina">
			<h1>Biking</h1>
		</div>

	</div>

	<div id="container-poster">
	    <div class="wrapper">
			<div class="card">
				<div class="poster"><img src="../img/biking/1.jpg" alt="REC"></div>
				<div class="details">
					<h1>RECUPERACIÓN (REC)</h1>
					<h2>Martes 18:00 - 18:30</h2>
					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<span>30'</span>
					</div>
					<div class="profesores">
						<h3>Profesores</h3>
						<ul>
							<li><img src="../img/biking/5.jpg" alt=""></li>
							<li><img src="../img/biking/6.jpg" alt=""></li>
							<li><img src="../img/biking/5.jpg" alt=""></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="poster"><img src="../img/biking/2.jpg" alt="Fartlek"></div>
				<div class="details">
					<h1>FARTLEK</h1>
					<h2>Jueves 19:00 - 19:40</h2>
					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<span>40'</span>
					</div>
					<div class="profesores">
						<h3>Profesores</h3>
						<ul>
							<li><img src="../img/biking/6.jpg" alt=""></li>
							<li><img src="../img/biking/8.jpg" alt=""></li>
							<li><img src="../img/biking/8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="poster"><img src="../img/biking/4.jpg" alt="Montaña"></div>
				<div class="details">
					<h1>MONTAÑA</h1>
					<h2>Viernes 16:00 - 16:20</h2>
					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<span>20'</span>
					</div>
					<div class="profesores">
						<h3>Profesores</h3>
						<ul>
							<li><img src="../img/biking/8.jpg" alt=""></li>
							<li><img src="../img/biking/6.jpg" alt=""></li>
							<li><img src="../img/biking/5.jpg" alt=""></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="container-rec">
		<h2>RECUPERACIÓN (REC)</h2>
			<p>Sesión de recuperación en la cual trabajamos a una intensidad de entre el 50 – 60% de la frecuencia cardíaca máxima (FCmáx). 
				Es recomendable para aquellas personas que quieran iniciarse en la práctica del spinning y o tengan una condición física baja. 
				También es adecuada para aquellos usuarios que lleven bastante entrenamiento acumulando y necesitan un día de recuperación activa.
			</p>
	</div>

	<div id="container-fartlek">
		<h2>FARTLEK</h2>
			<p>Sesión de spinning variable con la combinación de terrenos planos y de montaña, junto con trabajo de cambios de ritmo que favorece el aumento de la capacidad cardiovascular. 
				La intensidad ronda entre el 65 y el 85% de la FCmáx.
			</p>
	</div>

	<div id="container-montaña">
		<h2>MONTAÑA</h2>
			<p>En esta modalidad se sube a un terreno montañoso con diferentes tipos de subidas, con un sólo pico o varios, con más pendiente o menos. 
				El objetivo es trabajar las piernas para aumentar la resistencia muscular y ayudar a mejorar la capacidad aeróbica, 
				ya que se trabaja entre 75 y 85% de la FCmáx.
			</p>
	</div>

</body>
</html>
