<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VitalWayGim</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
   
    <link rel="stylesheet" href="../css/style.css">
    <script src="header.js" defer></script>
  </head>

  <body>
    <header>
        <h1 class="nombre-sitio"><a href="index.html">VitalWay<span> Gym </span></a></h1>
    </header>

    <div class="contenedor-navegacion">
      <nav class="nav-principal contenedor">
        <a href="index.html">Inicio</a>
        <a href="login.html">Mi cuenta</a>
        <a href="register.html">Regístrate</a>
        <a href="price.html">Tarifas</a>
        <a href="blog.html">Blog</a>
      </nav>
    </div> 
    <main class="contenido-principal contenedor centrar">
        <div>

        </div>
        <h2 class="text-center titulo-blog">Nuestro Blog</h2>
        
        <section class="contenedor-blog">
            <div class="blog">
                <article class="entrada">
                    <h2>¿Por qué realizar ejercicio de fuerza?</h2>

                    <div class="imagen">
                        <img src="../img/blog1.jpg">
                    </div>

                    <div class="entrada-meta">
                        <p>Fecha: <span>10 de Abril de 2024</span> </p>
                        <p>Escrito por: <span>VitalWay</span> </p>
                    </div>

                    <div class="entrada-blog">
                        <p>El ejercicio físico es una parte fundamental de un estilo de vida saludable, y dentro de este, el entrenamiento de fuerza ocupa un lugar destacado. A menudo, se subestima el impacto positivo que el ejercicio de fuerza puede tener en personas de todas las edades, desde los jóvenes hasta los adultos mayores.</p>

                        <p>En este artículo, exploraremos por qué es crucial incorporar el entrenamiento de fuerza en nuestra rutina diaria, sin importar nuestra edad. </p>
                    </div>

                    <a href="entrada_blog_1.html" class="btn max-width-30">Leer</a>
                    
                </article>

                <article class="entrada">
                    <h2>Los beneficios de una dieta equilibrada</h2>

                    <div class="imagen">
                        <img src="../img/blog4.jpg">
                    </div>

                    <div class="entrada-meta">
                        <p>Fecha: <span>5 de Marzo de 2024</span> </p>
                        <p>Escrito por: <span>VitalWay</span> </p>
                    </div>

                    <div class="entrada-blog">
                        <p>La alimentación juega un papel crucial en nuestra salud y bienestar general. </p>

                        <p>Adoptar una dieta equilibrada, que incluya una variedad de alimentos nutritivos, proporciona una serie de beneficios para nuestro cuerpo y mente. Aquí te presentamos algunos de los beneficios más destacados:</p>
                    </div>

                    <a href="entrada_blog_2.html" class="btn max-width-30">Leer</a>
                    
                </article>
            </div>

            <aside>
                <h3>Otros artículos</h3>
                <ul>
                    <li>
                        <a href="entrada_blog_3.html">Cuidados al ejercitarse al aire libre.</a>
                    </li>
                    <li>
                        <a href="entrada_blog_4.html">¿Entrenar en casa o en gimnasio?</a>
                    </li>
                    <li>
                        <a href="entrada_blog_5.html">El descanso en la salud.</a>
                    </li>
                    
                </ul>
            </aside>
        </section>
    </main>

    
    <footer class="site-footer">
        <div>
          <h3>Contacto</h3>
          <p><span>Ubicación: </span>C/ de Balmes, 32, Barcelona</p>
          <p><span>Teléfono: </span> 97233568</p>
          <p><span>Mail: </span>vitalway@gmail.com</p>
        </div>
        <p class="copyright"> &#169 Todos los derechos Reservados, VitalWay</p>
      </footer>
  </body>
</html>
