<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
	<link rel="stylesheet" href="../css/style_entrenamiento_personal.css">
	<title>Entrenamiento Personal</title>
</head>
<body>

	<div class="container-encabezado-pagina">

		<div class="container-nombre-gym">
			<h2>VitalWay Gym</h2>
		</div>

		<div class="container-titulo-pagina">
			<h1>Entrenamiento Personal</h1>
		</div>

	</div>

	<div id="container-imagenes">

				<div id="container-imagenes-peso-tonificacion">
					<img id="foto" src="../img/peso_tonificacion/7.jpg" alt="foto1">
					<img  id="foto" src="../img/peso_tonificacion/8.avif" alt="foto2">
					<img id="foto" src="../img/peso_tonificacion/5.jpg" alt="foto3">
				</div>
					
				<div id="container-imagenes-fuerza-musculo">
					<img id="foto" src="../img/fuerza_musculo/1.avif" alt="foto4">
					<img id="foto" src="../img/fuerza_musculo/2.jpg" alt="foto5">
					<img id="foto" src="../img/fuerza_musculo/3.avif" alt="foto6">
				</div>

				<div id="container-imagenes-deportes">
					<img id="foto" src="../img/deportes/5.jpg" alt="foto7">
					<img id="foto" src="../img/deportes/6.jpg" alt="foto8">
					<img id="foto" src="../img/deportes/4.avif" alt="foto9">
				</div>

				<div id="container-imagenes-funcional">
					<img id="foto" src="../img/funcional/10.jpg" alt="foto10">
					<img id="foto" src="../img/funcional/9.jpg" alt="foto11">
					<img id="foto" src="../img/funcional/12.jpg" alt="foto12">
				</div>

	</div>

	<div class="container-entrenamientos">

		<div id="section1" class="container-peso-tonificacion">
			<h2>Entrenamiento bajada de peso y tonificación</h2>
			<span class="hide" id="hideText1">
				<p>El objetivo aquí es ayudar al cliente a situarse en su peso ideal, mediante un programa de entrenamiento que le ayude a perder kilos, al mismo tiempo que se incide en una mejora de la tonificación muscular general. Este tipo de programas suelen acompañarse de una dieta específica.</p>
			</span>

			<button class="read-more-btn" id="hideText_btn1">+</button>

		</div>

		<div id="section2" class="container-fuerza-musculo">
			<h2>Entrenamiento fuerza y aumentar masa muscular</h2>
			<span class="hide" id="hideText2">
				<p>En este caso, se trata fundamentalmente del trabajo con pesas, ya sea en gimnasio o a domicilio. El objetivo esencial es aumentar el desarrollo y volumen muscular, tanto con un objetivo estético como de ganancia de fuerza. Aquí, el entrenador personal se encarga de diseñar rutinas adaptadas a las necesidades y objetivos de cada persona, supervisando y corrigiendo la técnica empleada en los ejercicios. También suele combinarse dieta y entrenamiento para multiplicar las opciones de éxito.</p>
			</span> 

			<button class="read-more-btn" id="hideText_btn2">+</button>

		</div>

		<div id="section3" class="container-deportes">
			<h2>Sesiones de trabajo para deportes específicos</h2>
			<span class="hide" id="hideText3">
				<p>En el caso de atletas profesionales o de aficionados a deportes específicos, puede desarrollarse un trabajo de entrenamiento personal que persiga dos objetivos:
				· Realizar una preparación física optimizada para ese deporte en concreto.
				· Mejorar la técnica en la ejecución de los movimientos, para ganar eficiencia y reducir el riesgo de lesiones.</p>
			</span>

				<button class="read-more-btn" id="hideText_btn3">+</button>

		</div>

		<div id="section4" class="container-funcional">
			<h2>Entrenamiento funcional</h2>
			<span class="hide" id="hideText4">
				<p>Se trata de un tipo de entrenamiento personal en el que se combinan distintos tipos de movimientos, técnicas y aparatos para acondicionar los músculos de una forma general y polivalente, con mínimo riesgo de lesiones.</p>
			</span> 

			<button class="read-more-btn" id="hideText_btn4">+</button>

		</div>
	</div>

<script type="text/javascript" src="script_entrenamiento_personal.js"></script>

</body>
</html>