<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VitalWayGim</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="header.js" defer></script>
    <!-- Load whichever light and dark scales you need -->
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/gray.css"
/>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/blue.css"
/>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/green.css"
/>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/red.css"
/>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/gray-dark.css"
/>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/blue-dark.css"
/>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/green-dark.css"
/>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/red-dark.css"
/>
  </head>

  <body>
    <header>
      <h1 class="nombre-sitio">
        <a href="index.html">VitalWay<span> Gym </span></a>
      </h1>
    </header>

    <div class="contenedor-navegacion">
      <nav class="nav-principal">
        <a href="index.html">Inicio</a>
        <a href="login.html">Mi cuenta</a>
        <a href="register.html">Regístrate</a>
        <a href="price.html">Tarifas</a>
        <a href="blog.html">Blog</a>
      </nav>
    </div>
    <main class="contenido-principal contenedor">
    <div class="hero"></div>

    <section class="sobre-nosotros">
      <div class="contenedor sobre-nosotros-grid">
        <div class="texto-nosotros">
          <h2>Sobre Nosotros</h2>
          <p>
            En VitalWayGim, estamos comprometidos a ayudarte a alcanzar tus metas de fitness. 
            Ofrecemos una amplia gama de instalaciones y servicios para que puedas entrenar de la manera que más te guste, independientemente de tu nivel de experiencia.
          </p>
        </div>
      </div>
    </section>
    <section id="servicios">
      <h2 class="text-center">Nuestros Servicios</h2>

      <div class="listado-servicios">
        <div class="servicio">
          <img src="../img/entrenamiento.jpg" alt="Imagen Producto" />
          <div class="texto-servicio">
            <a href="entrenamiento_personal.html"><h3>Entrenamiento Personal</h3></a>
          </div>
        </div>

        <div class="servicio">
          <img src="../img/musculacion.jpg" alt="Imagen Producto" />
          <div class="texto-servicio">
            <a href="musculacion.html"><h3>Musculación libre y guiada</h3></a>
          </div>
        </div>

        <div class="servicio">
          <img src="../img/biking.jpg" alt="Imagen Producto" />
          <div class="texto-servicio">
            <a href="biking.html"><h3>Biking</h3></a>
          </div>
        </div>

        <div class="servicio">
          <img src="../img/nutricion.jpg" alt="Imagen Producto" />

          <div class="texto-servicio">
            <a href="nutricion.html"><h3>Nutrición</h3></a>
          </div>
        </div>
      </div>
    </section>

    </main>
    <footer class="site-footer">
          <div class="ubicacion-contacto">
          <div>
            <h3>Contacto</h3>
            <p><span>Ubicación: </span>C/ de Balmes, 32, Barcelona</p>
            <p><span>Teléfono: </span> 97233568</p>
            <p><span>Mail: </span>vitalway@gmail.com</p>
          </div>
          <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.3397552004626!2d2.161546775937967!3d41.388427371299734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a28d279cb3c1%3A0xad4318d5ea4c98f3!2sC%2F%20de%20Balmes%2C%2032%2C%20L&#39;Eixample%2C%2008007%20Barcelona!5e0!3m2!1ses-419!2ses!4v1713647695217!5m2!1ses-419!2ses" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
          <p class="copyright"> &#169 Todos los derechos Reservados, VitalWay</p>
          
        </footer>
  </body>
</html>
