<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
	<link rel="stylesheet" href="../css/style-musculacion.css">
	<title>Musculación libre y guiada</title>
</head>
<body>

	<div class="container-encabezado-pagina">

		<div class="container-nombre-gym">
			<h2>VitalWay Gym</h2>
		</div>

		<div class="container-titulo-pagina">
			<h1>Musculación libre y guiada</h1>
		</div>

	</div>

<figure class="card">
    <img src="../img/musculacion/pesas.jpg" alt="pesas" />
    <figcaption>
      <h3>Entramiento de Fuerza - Resistencia</h3>
      <p>El entrenamiento de resistencia se centra en realizar un alto número de repeticiones con cargas moderadas. El objetivo principal 
		es mejorar la resistencia muscular y la capacidad cardiovascular.
		Este tipo de entrenamiento es ideal para personas que buscan tonificar los músculos y mejorar su capacidad de realizar actividades diarias sin fatiga excesiva.</p>
    </figcaption>
</figure>

<figure class="card">
    <img src="../img/musculacion/fuerza.JPG" alt="fuerza" />
    <figcaption>
      <h3>Entrenamiento de Fuerza Máxima</h3>
      <p>El entrenamiento de fuerza máxima tiene como meta levantar cargas extremadamente pesadas con un bajo número de repeticiones. El objetivo es aumentar la fuerza pura y la potencia muscular.</p>
    </figcaption>
</figure>

<figure class="card">
    <img src="../img/musculacion/hipertrofia.JPG" alt="hipertrofia" />
    <figcaption>
      <h3>Entrenamiento de Hipertrofia</h3>
      <p>El entrenamiento de hipertrofia se basa en el aumento del tamaño muscular. A través de la combinación de cargas moderadas a pesadas y un número moderado de repeticiones, este tipo de entrenamiento promueve el crecimiento muscular.</p>
    </figcaption>
</figure>

</body>
</html>
