<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
	<link rel="stylesheet" href="../css/style_nutricion.css">
	<title>Nutrición</title>
</head>
<body>

	<div class="container-encabezado-pagina">

		<div class="container-nombre-gym">
			<h2>VitalWay Gym</h2>
		</div>

		<div class="container-titulo-pagina">
			<h1>Nutrición</h1>
		</div>
	</div>

	<div class="cards-grid">
	    <div class="card-item">
	            <picture>
	                <img src="../img/nutricion/carbohidratos.jpg" alt="img-carbohidratos">
	            </picture>
	            
	          <div class="card-content">
	            <span>Dieta</span>
	            <h3>Carbohidratos</h3>
	            <p>Son el macronutriente que brinda energía al sistema nervioso central y a los músculos. Además, promueven una adecuada recuperación tras el ejercicio.</p>
	          </div> 
		</div>

		<div class="cards-grid">
			<div class="card-item">
	            <picture>
	                <img src="../img/nutricion/proteinas.jpg" alt="img-proteinas">
	            </picture>
	            
	          <div class="card-content">
	            <span>Dieta</span>
	            <h3>Proteínas</h3>
	            <p>Se recomienda a los atletas y deportistas un alto nivel de ingesta de proteína para promover la reparación, ganar o mantener la masa muscular.</p>
	      	</div> 
			</div>
		</div>

		<div class="cards-grid">
		   	<div class="card-item">
		            <picture>
		                <img src="../img/nutricion/grasas.jpg" alt="img-grasas">
		            </picture>
		            
		          <div class="card-content">
		            <span>Dieta</span>
		            <h3>Grasas</h3>
		            <p>Es el tercer macronutriente que se debe tener en cuenta en la nutrición deportiva. La grasa funciona como una fuente de energía y cumple con la función de producir hormonas, regular la temperatura y absorber vitaminas en el cuerpo.</p>
		   		</div> 
				</div>
		</div>
	</div>

</body>
</html>




