<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VitalWayGim</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="header.js" defer></script>
  </head>
  <body>
    <header>
      <h1 class="nombre-sitio"><a href="index.html">VitalWay<span> Gym </span></a></h1>
    </header>
    <div class="contenedor-navegacion">
      <nav class="nav-principal contenedor">
        <a href="index.html">Inicio</a>
        <a href="login.html">Mi cuenta</a>
        <a href="register.html">Regístrate</a>
        <a href="price.html">Tarifas</a>
        <a href="blog.html">Blog</a>
      </nav>
    </div>
    <main class="contenido-principal contenedor">
      <div class="price-photo"></div>
      <div id="tarifas">
        <h2>Tarifas mensuales:</h2>
        <div id="price-main-box">
            <div class="price-box left">
              <div class="price-header">
                <h3>Tarifa Básica</h3>
              </div>
              <div class="price-text">
                <p>Acceso ilimitado al gimnasio durante el horario de apertura.</p>
                <p class="price">29.99<span>€/mes</span></p>
              </div>
              <div class="price-join"><a  href="register.html">¡Quiero empezar ahora!</a></div>
            </div>
            <div class="price-box center">
              <div class="price-header">
                <h3>Tarifa Premium</h3>
              </div>
              <div class="price-text">
                <p>Acceso ilimitado al gimnasio y todas las clases incluidas.</p>
                <p class="price">49.99<span>€/mes</span></p>
              </div>
              <div class="price-join"><a  href="register.html">¡Quiero empezar ahora!</a></div>
            </div>
            <div class="price-box right">
              <div class="price-header">
                <h3>Tarifa VIP</h3>
              </div>
              <div class="price-text">
                <p>Acceso ilimitado al gimnasio, todas las clases incluidas y entrenador personal.</p>
                <p class="price">79.99<span>€/mes</span></p>
              </div>
              <div class="price-join"><a  href="register.html">¡Quiero empezar ahora!</a></div>
            </div>
        </div>
      </div>
      
    </main> 
    <footer class="site-footer">
        <div>
          <h3>Contacto</h3>
          <p><span>Ubicación:</span>C/ de Balmes, 32, Barcelona</p>
          <p><span>Teléfono: </span> 97233568</p>
          <p><span>Mail:</span>vitalway@gmail.com</p>
        </div>
  
        <p id="prueba" class="copyright"> &#169 Todos los derechos Reservados, VitalWay</p>
      </footer>
  </body>
</html>
